* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

}

/*eliminar posible scroll horizontal */
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    background-color: #f5f1f1;

}

h1 {
    font-weight: bold;
    font-size: 100px;
    padding-top: 100px;

}

.title {
    color: #3c3c3c;
    font-size: 40px;
    margin: 15px 0px 15px 40px
}

.navbartext {
    font-size: 20px;
}

.centrar {
    display: flex;
    justify-content: center;
}

.small-imagen {
    width: 80px;
    height: 80px;
}

.texto-centrado {
    text-align: center;
}

.foto-perfil {
    width: 150px;
    height: 150px;
}

.contacto-footer {
    color: white;
    font-size: 18px;
    line-height: 140%;

}

.footer-right {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.tittlestore {
    color: #3c3c3c;
    font-size: 40px;
    margin: 40px 0px 30px 15px
}

.news-cover {
    display: flex;
    align-items: center;
}

.news {
    width: 100%;
    border-radius: 10px;
}

.margin {
    margin-bottom: 100px;
}

.p-contacto {
    font-size: 30px;
    list-style: none;
}


/* deshabilitadas por el momento */
/*Transicion portadas index*/
.box {
    transition: all 1s;
}

.box:hover {
    transform: scale(1.1);
}


/*Animacion de fade en titulo al cargar la pagina */
.fade {
    animation: fades 1s;
    animation-fill-mode: forwards;
}

@keyframes fades {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.card-img-top {
    width: 100%;
    object-fit: contain;
    height: 30vh;
    margin-top: 20px;
}

hr {
    width: 50%;
    margin: auto;
}

.footer-color {
    background-color: rgba(0, 0, 0, 0.2);
}

.iframemap {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.carrusel {
    margin-bottom: 100%;
}

.formlenght {
    width: 80%;
    display: inline-block;

}

.fontcontact {
    font-size: 20px;
}

.max-width {
    max-width: 80%;
}

/*toggler blanco responsive*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("images/menu\ \(1\).svg");
}

.us{
    width: 100%;
    height: 100%;
}