.title {
    color: #3c3c3c;
    font-size: 40px;
    margin: 15px 0px 15px 40px;
}

.centrar {
    display: flex;
    justify-content: center;
}

.texto-centrado {
    text-align: center;
}

.tittlestore {
    color: #3c3c3c;
    font-size: 40px;
    margin: 40px 0px 30px 15px;
}

.margin {
    margin-bottom: 100px;
}

.p-contacto {
    font-size: 30px;
    list-style: none;
}

.iframemap {
    width: 100%;
    height: 350px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
}

.carrusel {
    margin-bottom: 100%;
}

.formlenght {
    width: 80%;
    display: inline-block;
}

.fontcontact {
    font-size: 20px;
}