p {font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.newstitle {font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.newstext{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.btnfont{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
