.navbar-dark .navbar-toggler-icon {
    background-image: url(/images/toggler.svg);
}

.navbartext {
    font-size: 20px;
    color: $texto2;
}

.navcolor{
    background-color: $navbar;
    color: $texto2;
}
